@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Zilla + Slab + Destaque & display = swap'); 

* {
    margin: 0;
    padding: 0;
    color: #FFF;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
} *

.tamanho-logo {
    width: 125px;
    height: 125px;
}

.section-posicao {
    padding-left: 250px;
    padding-right: 250px;
    background: #1f1d1d;
}

.titulo-padrao {
    font-size: 2.5em;
    text-align: center;
    padding: 1em 0 1em 0;
    font-weight: bold;
}

.hr {
    color: #25692A;
    padding-bottom: 4px;
}

/*RODAPE*/


#rodape {
    background: #1b1919;
    color: white;
}

.imagem-rodape {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.redes-sociais {
    display: absolute;
    text-align: center;
    padding-bottom: 20px;
}

.redes-sociais i {
    padding-left: 10px;
    width: 20px;
    color: #FFF;
}

.texto-centralizado {
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
}

/*Responsividade*/

@media screen and (max-width: 1400px) {

    .section-posicao {
        padding: 0 75px 0 75px;
    }
    .imagem-sobre {
        height: 300px;
        width: 220px;
    }
}

@media screen and (max-width: 800px) {
    .imagem-sobre {
        height: 220px;
        width: 130px;
    }

}

@media screen and (max-width: 500px) {

    .section-posicao {
        padding: 0 25px 0 25px;
    }
    .capa-slogan {
        font-size: 40px;
    }
    .imagem-sobre {
        height: 100px;
        width: 80px;
        padding: 0;
    }
}