.tamanho-logo {
    width: 125px;
    height: 125px;
}

/*ANIMACA0*/

.h1-slogan {
    padding: 60px 0 60px 0;
    text-align: center;
    color: #FFF;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Zilla Slab Highlight', cursive;
} 

.video-animacao {
    width: 100%;
    height: 100vh;
    padding-bottom: 40px;
}

/*SOBRE O DUKA LANCHES*/

.container-imagem-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-sobre {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 380px;
    width: 280px;
    object-fit:cover;
    padding: 15px 15px 40px 15px;
    margin: 0 10px 30px 0;
    background-color: white;
}



.descricao {
    padding-bottom: 5px;
    color: #FFF;
    text-transform: inherit;
    text-align: center;
}

.padding-bottom {
    padding-bottom: 30px;
}

/**CARDÁPIO HOME*/

.imagem-cardapio {
    height: 420px;
    width: 100%;
    object-fit: cover;
}

.homeCardapio-botao {
    color: #25692A;
    border:1px solid #25692A;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-weight:bold;
    padding:6px 10px;
    text-decoration:none;
    background: none;
}

.container-butao {
    display: flex;
    justify-content: center;
}

/*ESTABELECIMENTO*/

.estilo-especial {
    padding-top: 30px;
    color: #FFF;
}

.descricao-localizacao {
    color: #FFF;
    text-align: center;
    padding-bottom: 1em;
}

.mapa-responsivo {
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.mapa-responsivo iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.mapa {
    padding: 15px 0 50px 0;
}

/*RODAPE*/


#rodape {
    background: #1b1919;
    color: white;
}

.imagem-rodape {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.redes-sociais {
    display: absolute;
    text-align: center;
    padding-bottom: 20px;
}

.redes-sociais i {
    padding-left: 10px;
    width: 20px;
    color: #FFF;
}

.texto-centralizado {
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
}