@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Zilla + Slab + Destaque & display = swap'); 

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
} *

#main {
    background: #1f1d1d;
}

/* CSS da página do Home*/

/*MENU*/

.bg-color-especial {
    background: #1b1919;
}

.tamanho-logo {
    width: 125px;
    height: 125px;
}

/*HR*/

.hr {
    color: white;
    margin: 2px;
}

/*ANIMACA0*/

.h1-slogan {
    padding: 60px 0 60px 0;
    text-align: center;
    color: #FFF;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Zilla Slab Highlight', cursive;
} 

.video-animacao {
    width: 100%;
    height: 100vh;
}

/*SOBRE O DUKA LANCHES*/

.section-posicao {
    padding-left: 250px;
    padding-right: 250px;
    background: #1f1d1d;
}

.imagem-sobre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    width: 370px;
    height: 340px;
}

.titulo-padrao {
    font-size: 2em;
    text-align: center;
    padding: 1em 0 1em 0;
    font-weight: bold;
}

.descricao {
    padding-bottom: 5px;
    color: #FFF;
    text-transform: inherit;
}

.padding-bottom {
    padding-bottom: 30px;
}

/*ESTABELECIMENTO*/

.estilo-especial {
    padding-top: 30px;
    color: #FFF;
}

.descricao-localizacao {
    color: #FFF;
    text-align: center;
    padding-bottom: 1em;
}

.mapa-responsivo {
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.mapa-responsivo iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.mapa {
    padding: 15px 0 50px 0;
}

/*CONTATO*/

/*RODAPE*/


#rodape {
    background: #1b1919;
    color: white;
}

.imagem-rodape {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.redes-sociais {
    display: absolute;
    text-align: center;
    padding-bottom: 20px;
}

.redes-sociais i {
    padding-left: 10px;
    width: 20px;
    color: #FFF;
}

.texto-centralizado {
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
}

/* CSS de da página do Cardápio*/

.card-posicao-imagem {
    object-fit: cover;
    height: 290px;
};

.card-largura {
    max-width: 18rem;
}

.card-titulo {
    font-weight: bold;
    text-decoration: italic;
}

/* CSS da página de Horário*/

.container-horario {
    margin: 100px;
    margin-top: 30px;
}

/*Responsividade*/

@media screen and (max-width: 1200px) {

    .section-posicao {
        padding: 0 75px 0 75px;
    }

}

@media screen and (max-width: 500px) {

    .section-posicao {padding: 0 25px 0 25px;}
    .capa-slogan {
        font-size: 40px;
    }
}