@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Zilla + Slab + Destaque & display = swap'); 

* {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
} *

.main-background-color {
    background: #1f1d1d;
}

/* CSS da página do Home*/

/*MENU*/

.bg-color-especial {
    background: #1b1919;
}

.tamanho-logo {
    width: 125px;
    height: 125px;
}

/*HR*/

.hr {
    color: #25692A;
    padding-bottom: 4px;
}

/*ANIMACA0*/

.h1-slogan {
    padding: 60px 0 60px 0;
    text-align: center;
    color: #FFF;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Zilla Slab Highlight', cursive;
} 

.video-animacao {
    width: 100%;
    height: 100vh;
    padding-bottom: 40px;
}

/*SOBRE O DUKA LANCHES*/

.section-posicao {
    padding-left: 250px;
    padding-right: 250px;
    background: #1f1d1d;
}

.container-imagem-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-sobre {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 380px;
    width: 280px;
    object-fit:cover;
    padding: 15px 15px 40px 15px;
    margin: 0 10px 30px 0;
    background-color: white;
}

.titulo-padrao {
    font-size: 2em;
    text-align: center;
    padding: 1em 0 1em 0;
    font-weight: bold;
}

.descricao {
    padding-bottom: 5px;
    color: #FFF;
    text-transform: inherit;
    text-align: center;
}

.padding-bottom {
    padding-bottom: 30px;
}

/**CARDÁPIO HOME*/

.homeCardapio-botao {
    color: #25692A;
    border:1px solid #25692A;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-weight:bold;
    padding:6px 10px;
    text-decoration:none;
    background: none;
}

.container-butao {
    display: flex;
    justify-content: center;
}

/*ESTABELECIMENTO*/

.estilo-especial {
    padding-top: 30px;
    color: #FFF;
}

.descricao-localizacao {
    color: #FFF;
    text-align: center;
    padding-bottom: 1em;
}

.mapa-responsivo {
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.mapa-responsivo iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.mapa {
    padding: 15px 0 50px 0;
}

/*RODAPE*/


#rodape {
    background: #1b1919;
    color: white;
}

.imagem-rodape {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.redes-sociais {
    display: absolute;
    text-align: center;
    padding-bottom: 20px;
}

.redes-sociais i {
    padding-left: 10px;
    width: 20px;
    color: #FFF;
}

.texto-centralizado {
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
}

/* CSS de da página do Cardápio*/

.card-posicao-imagem {
    object-fit: cover;
    height: 290px;
};

.card-largura {
    max-width: 18rem;
}

.card-titulo {
    font-weight: bold;
    text-decoration: italic;
}

/* CSS da página de Horário*/

.container-horario {
    margin: 100px;
    margin-top: 30px;
}

/*Responsividade*/

@media screen and (max-width: 1400px) {

    .section-posicao {
        padding: 0 75px 0 75px;
    }
    .imagem-sobre {
        height: 300px;
        width: 220px;
    }
}

@media screen and (max-width: 800px) {
    .imagem-sobre {
        height: 220px;
        width: 130px;
    }

}
@media screen and (max-width: 500px) {

    .section-posicao {
        padding: 0 25px 0 25px;
    }
    .capa-slogan {
        font-size: 40px;
    }
    .imagem-sobre {
        height: 100px;
        width: 80px;
        padding: 0;
    }
}
