@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
} *

/* CSS da página do Home*/

/*MENU*/

.bg-color-especial {
    background: #1b1919;
}

.tamanho-logo {
    width: 125px;
    height: 125px;
}

/*ANIMACA0*/

.container-capa {
    background: #1b1919;
}

.video-animacao {
    width: 100%;
    height: 100vh;
    background-color: #1b1919;
}

/*SOBRE O DUKA LANCHES*/

#sobre {
    background: #4b4a4a;
}

.imagem-sobre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    width: 370px;
    height: 340px;
}

.titulo-padrao {
    font-size: 2em;
    text-align: center;
    padding: 1em;
    font-weight: bold;
}

.descricao {
    padding-right: 250px;
    padding-left: 250px;
    padding-bottom: 5px;
    color: #FFF;
    text-transform: inherit;
}

.padding-bottom {
    padding-bottom: 30px;
}

/*ESTABELECIMENTO*/

.estilo-especial {
    padding-top: 30px;
    color: #FFF;
}

#estabelecimento {
    background: #2e2d2d;
}

.descricao-localizacao {
    color: #FFF;
    text-align: center;
    padding-bottom: 1em;
}

.mapa-responsivo {
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
    margin: 0 200px;
}
.mapa-responsivo iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.mapa {
    padding: 15px 0 50px 0;
}

/*CONTATO*/

#contato {
    background: #3b3a3a;
}

.padding-especial {
    padding: 150px;
    padding-top: 0;
}

/*RODAPE*/


#rodape {
    background: #1b1919;
    color: white;
}

.imagem-rodape {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.redes-sociais {
    display: absolute;
    text-align: center;
    padding-bottom: 20px;
}

.redes-sociais i {
    padding-left: 10px;
    width: 20px;
    color: #FFF;
}

.texto-centralizado {
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
}

/* CSS de da página do Cardápio*/

.card-posicao-imagem {
    object-fit: cover;
    height: 290px;
};

.card-largura {
    max-width: 18rem;
}

.card-titulo {
    font-weight: bold;
    text-decoration: italic;
}

/* CSS da página de Horário*/

.container-horario {
    margin: 100px;
    margin-top: 30px;
}

/*Responsividade*/

@media screen and (max-width: 1200px) {

    .descricao {padding: 0 75px 0 75px;}

}

@media screen and (max-width: 500px) {

    .descricao {padding: 0 25px 0 25px;}

}